{% extends 'first_app/base.htm' %}
{% block body_block %}

{% if form.instance.pk %}      
{% comment %} jodi already pk thake oi form a {% endcomment %}
<h3>Update Musician</h3>
{% else %}
<h3>Add New Musician</h3>
{% endif %} 

<form method="POST">
{% comment %} default name form {% endcomment %}
{{form.as_p}}
 {% csrf_token %}
<input type="submit" name="submit" value="Add" class="btn btn-primary btn-sm">
{% comment %} enter dile koi jabe oita model a likha ase {% endcomment %}

</form>
{% endblock %}