

<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}

<h1>I am form page</h1>



{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>This form is created by HTML</h1>
    <form  action="" method="post">
      <label for="user_name">Full Name: </label>
      <input type="text" name="user_name" value="" required> -->
      <!-- value te ja dibo oita page a show korbe comment-->
      <!-- <label for="user_email">E-mail: </label>
      <input type="email" name="user_email" placeholder="Please Enter Your Email" value="" required>
      <input type="submit" name="submit" value="Submit">
    </form>

    <hr>
    <h1>This form is created by Django </h1>
    <h3>{{ heading_1 }}</h3> -->
    <!-- <a href="/">Back</a> comment -->
    <!-- <a href="{% url 'first_app:index' %}">Back</a> -->
    <!-- relative url comment-->
    <!-- <form action="" method="POST">
      {{ test_form.as_p }}
      {% csrf_token %} -->
      <!--çomment token form submit er jonno lage -->
      <!-- as_p show them as paragraph shob niche niche hobe  -->
      <!-- as_table,as_ul -->
      <!-- <input type="submit" name="submit" value="Submit">
    </form>

    <hr>

    {% if form_submitted %} -->
      <!-- comm <p>Name: {{ user_name}}</p>
      <p>Date of Birth: {{user_dob}}</p>
      <p>Email: {{user_email}}</p> -->
      <!-- <p>BooleanField Value: {{field}}</p>
    {% endif %}
  </body>
</html>
 -->
